<h2>New Reading</h2>
<br/>
<p>
    Logged in as: <%= current_user.email %><br/>
    User id: <%= current_user.id %>
</p>
<%= form_for @record do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <br/>
    <div class="field">
        <%= f.label :date %><br/>
        <%= f.date_field :date, autofocus: true %>
    </div>
    <br/>
    <div class="field">
        <%= f.label :time %><br/>
        <%= f.time_field :time %>
    </div>
    <br/>
    <div class="field">
        <%= f.label :reading %><br/>
        <%= f.number_field :reading %>
    </div>
    <br/>
    <div class="field">
        <%= f.label :dose %><br/>
        <%= f.number_field :dose %>
    </div>
    <br/>
    <div class="actions">
        <!-- <%= f.submit "Sign up" %> -->
        <button class="btn btn-outline-success font-weight-light" type="submit">Add Reading</button>
    </div>
<% end %>